<div class="container machine-history" fxLayout="row" fxLayout.xs="column">
  
  <div fxLayout="row" fxFlex="220px" fxFlex.xs="auto">
    <div fxFlex="60px">
        <img src="/assets/{{machine.imageUrl}}" style="width:50px"/>
    </div>
    <div fxFlex="160px">
        {{ machine.name }}
    </div>
  </div>
  <div fxLayout="row" fxFlex="auto">
    <div fxFlex="auto">
      <div style="border:solid 1px #ccc;height:20px;"></div>
    </div>
    <div fxFlex="40px" style="text-align:center">
      <span class="mdi mdi-checkbox-blank-circle mdi-18px" [ngClass]="getStatusClass(machine.status)"></span>
    </div>
  </div>

</div>
